/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* CONTENEDORES */
.hero {
  padding-top: 20px;
  overflow-x: hidden;
  position: relative; }

.hero__container {
  padding-top: 50px; }

.hero__div__btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero__col3 {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

/* TEXTO */
.hero__h1 {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 1rem;
  text-align: center; }

.hero__h2 {
  font-family: "Montserrat", sans-serif;
  color: #343447;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 20px; }

/* SHAPES */
.shape__hero {
  background-color: #604AD8;
  width: 800px;
  height: 500px;
  border-radius: 500px;
  position: absolute;
  top: 0;
  right: 800;
  z-index: -1;
  opacity: 0.05;
  transform: rotate(55deg); }

/* BOTONES */
.hero__btn {
  background-color: #604AD8;
  border: none;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px; }

/* IMAGENES */
.hero__phone {
  height: 300px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 75px; }

.hero__arrows {
  position: absolute;
  bottom: 20px;
  right: 50%;
  left: 50%;
  cursor: pointer; }

/* MENU */
.navbar-brand {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #343447; }

.navbar-toggler {
  border: none !important; }

.navbar-toggler:focus {
  outline: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(96,74,216, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }

.nav-item {
  padding-top: 30px; }

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #343447;
  font-weight: regular;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: solid 1px rgba(52, 52, 71, 0.1); }

.nav-link:hover {
  font-weight: bold; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero__container {
    padding-top: 0px; }
  .hero__col2 {
    margin-left: 50px; }
  .hero__h1 {
    font-family: "Montserrat", sans-serif;
    color: #6A7686;
    font-size: 1.2rem;
    text-align: center; }
  .hero__h2 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 20px; }
  .hero__row {
    padding-bottom: 100px; }
  .hero__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; }
  .hero__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero__container {
    padding-top: 0px; }
  .hero__col2 {
    margin-left: 50px; }
  .hero__h1 {
    font-family: "Montserrat", sans-serif;
    color: #6A7686;
    font-size: 1.4rem;
    text-align: center; }
  .hero__h2 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px; }
  .nav-item {
    padding-top: 0px; }
  .hero__row {
    padding-bottom: 100px; }
  .hero__phone {
    height: 350px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 75px; }
  .nav-link {
    border: none; }
  .hero__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; }
  .hero__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .hero__container {
    padding-top: 0px; }
  .hero__col2 {
    margin-left: 50px; }
  .hero__h1 {
    font-family: "Montserrat", sans-serif;
    color: #6A7686;
    font-size: 1.4rem;
    text-align: center; }
  .hero__h2 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 20px; }
  .nav-item {
    padding-top: 0px; }
  .hero__row {
    padding-bottom: 80px; }
  .hero__phone {
    height: 450px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 75px; }
  .nav-link {
    border: none; }
  .hero__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; }
  .hero__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 20px; } }

/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* CONTENEDORES */
.nosotros {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #604AD8; }

/* TEXTO */
.nosotros__h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center; }

.nosotros__h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 30px; }

.nosotros__p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 30px; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nosotros__p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 30px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nosotros__p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px; }
  .nosotros__h3 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .nosotros__p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px; }
  .nosotros__h3 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px; } }

/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* CONTENEDORES */
.simulador {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  overflow-x: hidden; }

.simulador__col2 {
  text-align: center; }

.simulador__col3 {
  background-color: #604AD8;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  font-family: "Montserrat", sans-serif; }

.simulador__col4 {
  display: flex;
  justify-content: center; }

/* SHAPES */
.shape__hero--simulador {
  background-color: #604AD8;
  width: 500px;
  height: 500px;
  border-radius: 300px;
  position: absolute;
  top: 50;
  right: 0;
  z-index: -1;
  opacity: 0.05;
  transform: rotate(-35deg); }

/* TEXTO */
.simulador__h4 {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 1rem;
  text-align: center; }

.simulador__h3 {
  font-family: "Montserrat", sans-serif;
  color: #343447;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 30px; }

.simulador__p {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 1rem;
  text-align: center;
  margin-top: 30px; }

.simulador__p--resultado {
  font-size: 1rem; }

.simulador__h4--resultado {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px; }

.simulador__p--resultado--comision {
  font-size: 1rem;
  margin-bottom: 0px; }

/* INPUT */
.simulador__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 1px rgba(96, 74, 216, 0.5);
  border-radius: 100px;
  width: 50%;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: #604AD8; }

.simulador__range {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  border-radius: 100px;
  background: #E5E7E9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.simulador__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 4px #604AD8;
  background: white;
  cursor: pointer; }

.simulador__checkbox {
  height: 30px;
  width: 30px; }

/* BUTTON */
.simulador__btn {
  background-color: #604AD8;
  border: none;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px; }

/* MEDIA QUERIES */
/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .simulador__h3 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .simulador__col3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .simulador__p--resultado {
    font-size: 1rem; }
  .simulador__h4--resultado {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px; }
  .simulador__p--resultado--comision {
    font-size: 1rem;
    margin-bottom: 0px; }
  .simulador__col4 {
    margin-top: 30px; }
  .simulador__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .simulador__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .simulador__h3 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .simulador__col3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .simulador__p--resultado {
    font-size: 1rem; }
  .simulador__h4--resultado {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px; }
  .simulador__p--resultado--comision {
    font-size: 1rem;
    margin-bottom: 0px; }
  .simulador__col4 {
    margin-top: 30px; }
  .simulador__p {
    font-family: "Montserrat", sans-serif;
    color: #6A7686;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px; }
  .simulador__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .simulador__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .simulador__h3 {
    font-family: "Montserrat", sans-serif;
    color: #343447;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .simulador__col3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .simulador__p--resultado {
    font-size: 1rem; }
  .simulador__h4--resultado {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px; }
  .simulador__p--resultado--comision {
    font-size: 1rem;
    margin-bottom: 0px; }
  .simulador__col4 {
    margin-top: 30px; }
  .simulador__p {
    font-family: "Montserrat", sans-serif;
    color: #6A7686;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px; }
  .simulador__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .simulador__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* CONTENEDORES */
.contacto {
  padding-bottom: 100px; }

.contacto__col {
  text-align: center; }

/* SHAPES */
.shape__hero--contacto {
  background-color: #604AD8;
  width: 800px;
  height: 500px;
  border-radius: 300px;
  position: absolute;
  top: 50;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  transform: rotate(-35deg); }

/* TEXTO */
.contacto__h4 {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 1rem;
  text-align: center; }

.contacto__h3 {
  font-family: "Montserrat", sans-serif;
  color: #343447;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

/* FORM */
.contacto__input {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 100px;
  box-shadow: none;
  border: 1px solid gray;
  outline: none;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 0.9rem; }

.contacto__input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 0.8rem; }

.contacto__textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid gray;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 0.9rem; }

.contacto__textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #6A7686;
  font-size: 0.8rem; }

/* BOTONES */
.contacto__btn {
  background-color: #604AD8;
  border: none;
  padding: 5px 15px 5px 15px;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px; }

/* IPAD */
@media (min-width: 768px) and (max-width: 991.98px) {
  .contacto__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .contacto__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COMPUTADORA CHICA */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contacto__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .contacto__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COMPUTADORA GRANDE */
@media (min-width: 1200px) {
  .contacto__btn {
    background-color: #604AD8;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; }
  .contacto__btn:hover {
    background-color: #343447;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px; } }

/* COLORES */
/* FUENTE */
body {
  font-size: 62,5%; }

/* CONTENEDORES */
.footer {
  background-color: #604AD8;
  padding-top: 50px;
  padding-bottom: 30px; }

/* TEXTO */
.footer__p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px; }

html {
  scroll-behavior: smooth; }
