@import "variables.scss";

/* CONTENEDORES */

.contacto {
    padding-bottom: 100px;
}

.contacto__col {
    text-align: center;
}

/* SHAPES */

.shape__hero--contacto { 
    background-color: $violetaClaro;
    width: 800px;
    height: 500px;
    border-radius: 300px;
    position: absolute;
    top: 50;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.shape__hero--contacto--active {
    animation-name: shapeContacto;
    animation-duration: 2s;
    animation-timing-function: initial;
    transform: rotate(-35deg);
    border-radius: 300px;
    opacity: 0.07;
}

@keyframes shapeContacto {
    0% {
        opacity: 0;
        transform: rotate(35deg);
        border-radius: 0px;
    }

    50% {
        opacity: 0.07;
    }

    100% {
        opacity: 0.07;
        transform: rotate(-35deg);
        border-radius: 300px;
    }
}

/* TEXTO */

.contacto__h4 {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 1rem;
    text-align: center;
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.contacto__h4.contacto__h4--active {
    transform: translate(0%);
    opacity: 1;
}

.contacto__h3 {
    font-family: $fuente;
    color: $violetaOscuro;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 1s ease-in-out 1s;
}

.contacto__h3.contacto__h3--active {
    transform: translate(0%);
    opacity: 1;
}

/* FORM */

.contacto__form {
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 1s ease-in-out 1.5s;
}

.contacto__form.contacto__form--active {
    transform: translate(0%);
    opacity: 1;
}

.contacto__input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 100px;
    box-shadow: none;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $fuente;
    color: $grisClaro;
    font-size: 0.9rem;
}

.contacto__input::placeholder {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 0.8rem;
}

.contacto__textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    font-family: $fuente;
    color: $grisClaro;
    font-size: 0.9rem;
}

.contacto__textarea::placeholder {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 0.8rem;
}

/* BOTONES */

.contacto__btn {
    background-color: $violetaClaro;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    color: white;
    font-family: $fuente;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .contacto__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .contacto__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .contacto__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .contacto__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
} 

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .contacto__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .contacto__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}