@import "variables.scss";

/* CONTENEDORES */

.footer {
    background-color: $violetaClaro;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* TEXTO */

.footer__p {
    color: white;
    font-family: $fuente;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.footer__p.footer__p--active {
    animation-name: footerText;
    animation-duration: 1s;
    animation-iteration-count: initial;
    opacity: 1;
}

@keyframes footerText {
    0% {
        transform: translate(0px, -200px);
        opacity: 0;
    } 
    
    50% {
        transform: translate(0px, 20px);
        opacity: 0.50;
    }

    100% {
        transform: translate(0%);
        opacity: 1;
    }
}