@import "variables.scss";

/* CONTENEDORES */

.nosotros {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: $violetaClaro;
    background-image: url(../imagenes/hero-phone.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
}

/* TEXTO */

.nosotros__h4 {
    font-family: $fuente;
    color: white;
    font-size: 1rem;
    text-align: center;
    transform: translate(0px, 200px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.nosotros__h4.nosotros__h4--active {
    transform: translate(0px, 0%);
    opacity: 1;
}

.nosotros__h3 {
    font-family: $fuente;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    transform: translate(0px, 200px);
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
}

.nosotros__h3.nosotros__h3--active {
    transform: translate(0px, 0%);
    opacity: 1;
}

.nosotros__p {
    font-family: $fuente;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 30px;
    transform: translate(0px, 200px);
    opacity: 0;
    transition: all 1s ease-in-out 1s;
}

.nosotros__p.nosotros__p--active {
    transform: translate(0px, 0%);
    opacity: 1;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .nosotros__p {
        font-family: $fuente;
        color: white;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 30px;
    }
} 

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .nosotros__p {
        font-family: $fuente;
        color: white;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }

    .nosotros__h3 {
        font-family: $fuente;
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 30px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .nosotros__p {
        font-family: $fuente;
        color: white;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }

    .nosotros__h3 {
        font-family: $fuente;
        color: white;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 30px;
    }
} 