@import "variables.scss";

/* CONTENEDORES */

.simulador {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

.simulador__col2 {
    text-align: center;
}

.simulador__col3 {
    background-color: $violetaClaro;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-family: $fuente;
    transform: translate(500px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.simulador__col3.simulador__col3--active {
    transform: translate(0%);
    opacity: 1;
}

.simulador__col4 {
    display: flex;
    justify-content: center;
}

.simulador__colRange1 {
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.simulador__colRange1.simulador__colRange1--active {
    transform: scale(1);
    opacity: 1;
}

.simulador__colRange2 {
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease-in-out 1.5s;
}

.simulador__colRange2.simulador__colRange2--active {
    transform: scale(1);
    opacity: 1;
}

.simulador__colRange3 {
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease-in-out 2s;
}

.simulador__colRange3.simulador__colRange3--active {
    transform: scale(1);
    opacity: 1;
}

/* SHAPES */

.shape__hero--simulador { 
    background-color: $violetaClaro;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    position: absolute;
    top: 50;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.shape__hero--simulador--active {
    animation-name: shapeSimulador;
    animation-duration: 2s;
    animation-timing-function: initial;
    transform: translate(1500px);
    border-radius: 300px;
    opacity: 0.07;
}

@keyframes shapeSimulador {
    0% {
        transform: translate(-1000px);
        opacity: 0;
        border-radius: 0px;
    }

    50% {
        opacity: 0.07;
    }

    100% {
        transform: translate(1500px);
        opacity: 0.07;
        border-radius: 300px;
    }
}

/* TEXTO */

.simulador__h4 {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 1rem;
    text-align: center;
    transform: translate(-200px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.simulador__h4.simulador__h4--active {
    transform: translate(0%);
    opacity: 1;
}

.simulador__h3 {
    font-family: $fuente;
    color: $violetaOscuro;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
    opacity: 0;
    transform: translate(500px);
    transition: all 1s ease-in-out;
}

.simulador__h3.simulador__h3--active {
    opacity: 1;
    transform: translate(0%);
}

.simulador__p {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

.simulador__p--resultado {
    font-size: 1rem;
}

.simulador__h4--resultado {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.simulador__p--resultado--comision {
    font-size: 1rem;
    margin-bottom: 0px;
}

.simulador__p--prestamoTotal {
    font-family: $fuente;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

/* INPUT */

.simulador__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid 1px rgba($color: $violetaClaro, $alpha: 0.5);
    border-radius: 100px;
    width: 50%;
    padding-left: 10px;
    font-family: $fuente;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: $violetaClaro;
}

.simulador__range {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 100px;  
    background: #E5E7E9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.simulador__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border: solid 4px $violetaClaro;
    background: white;
    cursor: pointer;
}

.simulador__checkbox {
    height: 30px;
    width: 30px;
}

/* BUTTON */

.simulador__btn {
    background-color: $violetaClaro;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    color: white;
    outline: none;
    font-family: $fuente;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
}

.simulador__btn.simulador__btn--active {
    transform: translate(0%);
    opacity: 1;
}

/* PANTALLA PRESTAMO OTORGADO */

.prestamo__otorgado {
    background-color: rgba($color: $violetaOscuro, $alpha: 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transform: translate(-100%);
    transition: all 1s ease-in-out;
}

.prestamo__otorgado.prestamo__otorgado--active {
    opacity: 1;
    transform: translate(0%);
}

.prestamo__otorgado__h2 {
    font-family: $fuente;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 2rem;
}

.prestamo__otorgado__p {
    font-family: $fuente;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 1.2rem;
}

.prestamo__otorgado__btn {
    background-color: $violetaClaro;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    color: white;
    outline: none;
    font-family: $fuente;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.prestamo__otorgado__like {
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__p {
        font-family: $fuente;
        color: $grisClaro;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    } 

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__p {
        font-family: $fuente;
        color: $grisClaro;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}