@import "variables.scss";

/* CONTENEDORES */

.simulador {
    padding-bottom: 100px;
    padding-top: 100px;
}

.simulador__col2 {
    text-align: center;
}

.simulador__col3 {
    background-color: $violetaClaro;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
    font-family: $fuente;
}

.simulador__col4 {
    display: flex;
    justify-content: center;
}

/* TEXTO */

.simulador__h4 {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 1rem;
    text-align: center;
}

.simulador__h3 {
    font-family: $fuente;
    color: $violetaOscuro;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 30px;
}

.simulador__p {
    font-family: $fuente;
    color: $grisClaro;
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

.simulador__p--resultado {
    font-size: 1rem;
}

.simulador__h4--resultado {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.simulador__p--resultado--comision {
    font-size: 1rem;
    margin-bottom: 0px;
}

/* INPUT */

.simulador__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid 1px rgba($color: $violetaClaro, $alpha: 0.5);
    border-radius: 100px;
    width: 50%;
    padding-left: 10px;
    font-family: $fuente;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: $violetaClaro;
}

.simulador__range {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 100px;  
    background: #E5E7E9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .simulador__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border: solid 4px $violetaClaro;
    background: white;
    cursor: pointer;
  }

  .simulador__checkbox {
      height: 30px;
      width: 30px;
  }
  
/* BUTTON */

.simulador__btn {
    background-color: $violetaClaro;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    color: white;
    font-family: $fuente;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 20px;
}

/* MEDIA QUERIES */

/* IPAD */

@media (min-width: 768px) and (max-width: 991.98px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__p {
        font-family: $fuente;
        color: $grisClaro;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    } 

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {
    .simulador__h3 {
        font-family: $fuente;
        color: $violetaOscuro;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .simulador__col3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .simulador__p--resultado {
        font-size: 1rem;
    }
    
    .simulador__h4--resultado {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    .simulador__p--resultado--comision {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .simulador__col4 {
        margin-top: 30px;
    }

    .simulador__p {
        font-family: $fuente;
        color: $grisClaro;
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }

    .simulador__btn {
        background-color: $violetaClaro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }

    .simulador__btn:hover {
        background-color: $violetaOscuro;
        border: none;
        padding: 10px 20px 10px 20px;
        border-radius: 100px;
        color: white;
        font-family: $fuente;
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 30px;
    }
}